---
layout: home
title: Bootstrapee
name: home
---

<header class="site-header home" role="banner">
	<div class="container">
		<h1 class="brand">Bootstrapee</h1>
		<p class="description"><strong>Watch out!</strong> We only offer freebies in here. You are allowed to download, share, contribute and enjoy, <em>we mean it!</em></p>		
		<a href="{{ site.baseurl }}/freebies" class="btn btn-explore">Explore all freebies</a>
	</div>
</header>

<section class="items">
	<div class="container">
		<div class="row">
			{% for post in site.categories['freebies'] limit:3 %}
				{% if post.disable == false %}
					{% if post.homepage == true %}
						<div class="col-sm-6 col-md-4">
							{% include post.html %}
						</div> <!-- /.col-sm-6 col-md-4 -->
					{% endif %}
				{% endif %}
			{% endfor %}	
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section>