<header class="site-header" role="banner">

	<div class="nav container">
		<a href="{{ site.baseurl }}/" class="site-logo blog">
			<span>E</span><span>E</span>
		</a>
		<div class="text-center">
			<nav class="site-menu">
				<ul class="list-inline">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/all">All Freebies</a></li>
					<li class="active"><a href="{{ site.baseurl }}/blog">Blog</a></li>
					<li><a href="#">Contribute <small>- coming soon</small></a></li>
				</ul>
			</nav>
			<h1 class="site-description">Announcements, discussions, and more for <a class="pink" href="{{ site.baseurl }}/">Bootstrapee</a></h1>
		</div> <!-- /col -->
	</div> <!-- /text-center -->
	<br><br>

</header> <!-- /site-header -->