		<div class="container">
		</div> <!-- /container -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ site.jquery_url }}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>
		<script src="{{ site.bootstrap_js_url }}"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
		<script src="https://gumroad.com/js/gumroad.js"></script>

<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="free web stats" ><script  type="text/javascript" >
try {Histats.start(1,2515427,4,0,0,0,"");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2515427&101" alt="free web stats" border="0"></a></noscript>
<!-- Histats.com  END  -->