		<div class="container">
		</div> <!-- /container -->

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ site.jquery_url }}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>
		<script src="{{ site.bootstrap_js_url }}"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
		<script src="https://gumroad.com/js/gumroad.js"></script>
