/*!
 * Bootstrapee - v1.0
 * All Right Reserved.
 */
a {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #1FB13C;
}
a:hover,
a:focus {
  color: #1fb13c;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  line-height: 1.5em;
}
ul,
ol {
  padding: 0 18px;
}
.item-padding {
  padding: 0 40px;
}
@media (max-width: 768px) {
  .item-padding {
    padding: 0 15px;
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  margin: 15px 0 20px;
}
.site-header.home {
  background-color: #3d3845;
  min-height: 300px;
  margin-bottom: 50px;
  text-align: center;
  padding: 50px 0 60px;
}
.site-header.home .container {
  max-width: 700px;
}
.site-header.home .brand {
  font-size: 66px;
  font-weight: 700;
  color: #E7E7E7;
}
@media (max-width: 480px) {
  .site-header.home .brand {
    font-size: 40px;
  }
}
.site-header.home .description {
  font-size: 25px;
  color: #8B8B8B;
  margin-top: 30px;
}
@media (max-width: 480px) {
  .site-header.home .description {
    font-size: 18px;
  }
}
.site-header.home .btn-explore {
  border-radius: 3px;
  margin-top: 40px;
  padding: 15px 40px;
  border: 2px solid #E7E7E7;
  color: #E7E7E7;
}
.site-header.home .btn-explore:hover,
.site-header.home .btn-explore:focus {
  background-color: #E7E7E7;
  color: #3d3845;
}
.navbar {
  background-color: #3d3845;
  margin-bottom: 50px;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .navbar {
    margin-bottom: 20px;
  }
}
.navbar .navbar-brand {
  font-weight: bold;
  color: #E7E7E7;
}
.navbar .navbar-text {
  color: #999999;
  font-size: 12px;
  margin-top: 18px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar .navbar-text {
    width: 221px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.navbar .nav {
  padding: 0;
}
.navbar .nav a .glyphicon {
  font-size: 15px;
}
.navbar .nav li.active a,
.navbar .nav li.open a {
  border-radius: 5px;
  background-color: transparent;
}
.navbar .nav li.active a:hover,
.navbar .nav li.open a:hover,
.navbar .nav li.active a:focus,
.navbar .nav li.open a:focus {
  background-color: transparent;
}
.navbar .nav .dropdown .dropdown-menu {
  background-color: #312d37;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  top: 138%;
  min-width: 200px;
}
.navbar .nav .dropdown .dropdown-menu li {
  padding: 7px 0;
}
.navbar .nav .dropdown .dropdown-menu li.divider {
  padding: 0;
  background-color: #4d4d4d;
  margin: 7px 0 3px;
}
.navbar .nav .dropdown .dropdown-menu li a {
  color: #999;
  position: relative;
}
.navbar .nav .dropdown .dropdown-menu li a .badge {
  background-color: #4d4d4d;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 5px;
}
.navbar .nav .dropdown .dropdown-menu li a:hover {
  color: #fff;
}
.navbar .nav .dropdown .dropdown-menu li.active a {
  color: #fff;
  background-color: transparent;
}
.navbar .nav .dropdown .dropdown-menu li.active a:hover {
  background-color: transparent;
}
.page .navbar {
  margin-bottom: 0;
}
@media (max-width: 765px) {
  .navbar-collapse {
    margin-top: 15px;
  }
}
.items .item {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  padding-bottom: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #ffffff, 0 0 0 6px #ffffff, 0 0 0 7px #ffffff;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #ffffff, 0 0 0 6px #ffffff, 0 0 0 7px #ffffff;
}
.items .item:hover {
  -webkit-box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
}
.items .item a img {
  border-bottom: 1px solid #e2e2e2;
}
.items .item .item-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 1px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items .item .item-title a {
  color: #333;
}
.items .item .item-description {
  padding-bottom: 15px;
}
.items .item .meta {
  font-size: 12px;
  color: #999999;
}
.items .item .item-contributer {
  position: relative;
}
.items .item .item-contributer .item-contributer-image {
  border-radius: 50%;
  margin: 0 15px 0 0;
  max-width: 50px;
  max-height: 50px;
  float: left;
  position: relative;
  top: -9px;
  -webkit-box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #e2e2e2, 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #e2e2e2, 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2;
}
.items .item .item-contributer .item-contributer-username {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.items .item .item-contributer .item-contributer-freebies {
  font-size: 12px;
  color: #999999;
}
.items-single .item-single {
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
}
.items-single .item-single img {
  border-bottom: 1px solid #e2e2e2;
}
.items-single .item-single .btn-item-single {
  padding: 30px 0 15px;
}
@media (max-width: 768px) {
  .items-single .item-single .btn-item-single {
    padding: 15px 0 0 0;
  }
}
.items-single .item-single .btn-item-single .btn-group {
  padding-right: 10px;
}
@media (max-width: 480px) {
  .items-single .item-single .btn-item-single .btn-group {
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .items-single .item-single .btn-item-single .btn-group .btn {
    margin-bottom: 10px;
  }
}
.items-single .item-single .btn-item-single .btn-group:nth-child(3) {
  padding-right: 0;
}
.items-single .item-single .btn-item-single .btn-group .btn {
  border-radius: 2px;
  padding: 12px;
  position: relative;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
  -webkit-box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #6aa3d5;
  box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #6aa3d5;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-primary:hover,
.items-single .item-single .btn-item-single .btn-group .btn.btn-primary:focus {
  background-color: #428bca;
  color: #fff;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  -webkit-box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #e27c79;
  box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #e27c79;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-danger:hover,
.items-single .item-single .btn-item-single .btn-group .btn.btn-danger:focus {
  background-color: #d9534f;
  color: #fff;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  -webkit-box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #80c780;
  box-shadow: 0 2px 0 #cccccc, inset 0px 1px 0px #80c780;
}
.items-single .item-single .btn-item-single .btn-group .btn.btn-success:hover,
.items-single .item-single .btn-item-single .btn-group .btn.btn-success:focus {
  background-color: #5cb85c;
  color: #fff;
}
.items-single .item-single .btn-item-single .btn-group .btn:active {
  top: 1px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.items-single .item-single .item-single-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-single .widget {
  border: 1px solid #e2e2e2;
  margin-bottom: 30px;
}
.items-single .widget .widget-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-single .widget .widget-padding {
  padding: 0 20px;
}
.items-single .widget a {
  border: 1px solid #e2e2e2;
  display: block;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #ffffff, 0 0 0 6px #ffffff, 0 0 0 7px #ffffff;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #ffffff, 0 0 0 6px #ffffff, 0 0 0 7px #ffffff;
}
.items-single .widget a:hover,
.items-single .widget a:focus {
  -webkit-box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
}
.profile {
  padding: 30px 0;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
}
.profile .avatar {
  border-radius: 50%;
  padding: 6px;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  -webkit-box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e2e2e2, 0 0 0 6px #ffffff, 0 0 0 7px #e2e2e2;
}
@media (max-width: 768px) {
  .profile .avatar {
    margin: 0 auto;
  }
}
.profile .full-name {
  font-size: 16px;
  font-weight: 700;
}
.profile .counters {
  margin-top: 24px;
}
.profile .counters li {
  padding: 10px 20px;
  margin: 2px 3px 2px 0;
  color: #fff;
}
.profile .counters li .spinner > div {
  background-color: #fff;
}
.profile .counters li.freebies-counter {
  background-color: #F65C5C;
  border-left: 3px solid #f32c2c;
}
.profile .counters li.freebies-views {
  background-color: #4FD880;
  border-left: 3px solid #2cc864;
}
.profile .counters li.freebies-downloads {
  background-color: #57C5D5;
  border-left: 3px solid #32b4c7;
}
@media (max-width: 768px) {
  .profile {
    text-align: center;
  }
}
.not-found {
  text-align: center;
}
.not-found .title {
  font-size: 140px;
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #cccccc;
}
.mfp-preloader a:hover {
  color: white;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}
/* Main image in popup */
img.mfp-img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 90%;
  margin: 30px auto;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
.spinner {
  width: 28px;
  height: 15px;
  vertical-align: sub;
  text-align: center;
  font-size: 10px;
  display: inline-block;
}
.spinner > div {
  background-color: #999999;
  height: 100%;
  width: 2px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
