<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{% include header.html %}
	</head>
	<body class="page" data-status="{{ site.notification }}">
		<a class="sr-only" href="#content">Skip to main content</a>

		{% include nav.html %}

		{{ content }}

		<!-- Footer
		============================================-->
		<footer class="site-footer" role="contentinfo">
			{% include footer.html %}
			{% if page.title contains "All contributions" %}
				<script src="{{ site.baseurl }}/assets/js/contributer-statistics.js"></script>
			{% endif %}
		</footer>

	</body>
</html>