<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{% include header.html %}
	</head>
	<body class="page">
		<a class="sr-only" href="#content">Skip to main content</a>

		{% include page-nav.html %}

		<section id="content" class="content">
		
			<div class="container">

				<div class="page-header">
					<h1 class="post-title">{% include page-title.html %}</h1>
				</div>

				<div class="row">

					<div class="col-xs-9">
						<div class="post-content">
							<img class="img-thumbnail full" src="{{ site.baseurl }}/posts/{{ page.slug }}/mid-preview.jpg" alt="{{ page.title }}">
							<br><br>
							{{ content }}
							<hr>
						  <div id="disqus_thread"></div>
						</div> <!-- /post-content -->
					</div> <!-- /col -->

					<div class="col-xs-3" id="affix" data-spy="affix" data-offset-top="300">
						<div class="item-details">

							<div class="item-contributer clearfix">
								<a class="img-circle" href="http://{{ page.contributer-portfolio }}" target="_blank">
									<img class="img-thumbnail img-circle" data-toggle="tooltip" data-placement="top" title="{{ page.contributer-badge }}" src="{{ site.baseurl }}/contributers/{{ page.contributer }}/{{ page.contributer }}.png" alt="{{ post.contributer }}" />
									<i class="glyphicon glyphicon-link"></i>
								</a>
								<h5><strong>@{{ page.contributer }}</strong> <br><small>{{ page.contributer-description }}</small></h5>
							</div> <!-- /item-contributer -->

							<br>
							{% if page.live-preview == "image" %}
								<a class="btn btn-primary btn-block btn-lg btn-item-preview btn-lightbox" href="{{ site.baseurl }}/posts/{{ page.slug }}/full-preview.jpg"><span class="glyphicon glyphicon-play-circle"></span> Full Preview &nbsp;</a>
							{% elsif page.live-preview == "internal" %}
								<a class="btn btn-primary btn-block btn-lg btn-item-preview" href="{{ site.baseurl }}/posts/{{ page.slug }}/live-preview/" target="_blank"><span class="glyphicon glyphicon-play-circle"></span> Live Preview</a>
							{% else %}
								<a class="btn btn-primary btn-block btn-lg btn-item-preview" href="{{ page.live-preview-external-link }}" target="_blank"><span class="glyphicon glyphicon-play-circle"></span> Live Preview</a>
							{% endif %}
							<button class="btn btn-danger btn-block btn-lg btn-item-download" data-toggle="modal" data-target="#downloadModal"><span class="glyphicon glyphicon-cloud-download"></span> Download ZIP</button>
							<br>

							<ul class="list-unstyled specification">
								<li data-toggle="tooltip" data-placement="left" title="Released on"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{ page.date | date_to_string }}</li>
								<li data-toggle="tooltip" data-placement="left" title="Browser compatibility"><span class="glyphicon glyphicon-list"></span> &nbsp; {{ page.compatibility }}</li>
								{% if page.framework == false %}
								{% else %}
									<li data-toggle="tooltip" data-placement="left" title="Framework"><span class="glyphicon glyphicon-filter"></span> &nbsp; {{ page.framework }}</li>
								{% endif %}
								<li data-toggle="tooltip" data-placement="left" title="Category"><span class="glyphicon glyphicon-tag"></span> &nbsp; {{ page.category }}</li>
								<li data-toggle="tooltip" data-placement="left" title="Licence"><span class="glyphicon glyphicon-copyright-mark"></span> &nbsp; <a class="pink" href="{{ site.baseurl }}/blog/2013/11/20/license-faq/">License FAQ</a></li>
								<li data-toggle="tooltip" data-placement="left" title="Includes"><span class="glyphicon glyphicon-paperclip"></span> &nbsp; {{ page.include }}</li>
							</ul>

							<p class="text-center small-text">All Right Reserved &copy; Bootstrapee </p>
							<p class="text-center small-text"><a class="pink"  href="https://github.com/reardestani/bootstrapee/issues?state=open" target="_blank"><span class="glyphicon glyphicon-bullhorn"></span> Report issues</a></p>

						</div> <!-- /item-details -->
					</div> <!-- /col -->

				</div> <!-- /row -->
			</div> <!-- /container -->

			<!-- Modal -->
			<div class="modal fade text-center" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Download</h4>
			      </div>
			      <div class="modal-body">
			        <p>Thanks for downloading one of our freebies.<br> Click download button and set 0 (zero) for free download or set<br> a <strong>fair price</strong> to support the contributer (<a href="#" class="pink" data-html="true" data-placement="bottom" data-toggle="popover" title="Donator Benefits" data-content="
			        <ul class='list-unstyled benefits'>
			        	<li>1. You support this project.</li>
			        	<li>2. Auto update notifications.</li>
			        	<li>3. Exclusive donators' freebie.</li>
			        </ul>
			        " role="button">What are donator' benefits?</a>).</p>
			        <br>
			        <a class="btn btn-default gumroad-button" href="{{ page.gumroad-link }}">Download</a>
			        <hr>
			        <a class="btn btn-default gumroad-button" href="{{ site.gumroad-download-center-link }}">Download Center</a>
			        <hr>
			        <p>It is a good practice to share and notify others about freebies.</p>
			        <ul class="list-inline">
			        	<li>
			        		<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="bootstrapee" data-related="reardestani:Creator of Bootstrapee">Tweet</a>
               	</li>
			        	<li>
									<div class="g-plusone" data-size="medium"></div>
			        	</li>
			        	<li>
			        		<div class="fb-like" data-href="http://bootstrapee.com{{ page.id }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
			        	</li>
			        </ul>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</section>

		<!-- Footer
		============================================-->
		<footer class="site-footer" role="contentinfo">
			{% include footer.html %}
			{% include disqus.html %}
		</footer>

	</body>
</html>