<!DOCTYPE html>
<html lang="en">
	<head>
		{% include header.html %}
	</head>
	<body>
		<a class="sr-only" href="#content">Skip to main content</a>

		{% include nav.html %}

		<section id="content" class="items-single">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="item-single" data-id="{{ page.ID }}" data-fn="update-views">
							<img class="img-responsive" src="{{ site.baseurl }}/freebies/{{ page.id }}/preview.jpg" alt="{{ page.title }}">
								<div class="item-padding text-center">
									<div class="btn-group btn-group-justified btn-item-single">
									  <div class="btn-group">
									    <a class="btn btn-primary btn-lightbox" href="{{ site.baseurl }}/freebies/{{ page.id }}/full-preview.jpg">Preview</a>
									  </div>
									  <div class="btn-group">
									    <button class="btn btn-danger btn-download" data-download="{{ site.baseurl }}/freebies/{{ page.id }}/{{ page.id }}.zip" data-id="{{ page.ID }}" data-fn="update-downloads">Download This</button>
									  </div>
									  <div class="btn-group">
									    <a href="{{ site.gumroad-link }}" class="btn btn-success">Download All</a>
									  </div>
									</div>
							  </div> <!-- /.item-padding -->
							<div class="divider"></div>
							<div class="item-padding">
								<h1 class="item-single-title">{{ page.title }}</h1>
								{{ content }}
							</div>
							<div class="divider"></div>
						</div> <!-- /.item-single -->
						{% include widget-related.html %}
					</div>  <!-- /.col-sm-8 -->
					<div class="col-sm-4">
						{% include widget-ad-one.html %}
						{% include widget-hot.html %}
					</div> <!-- /.col-sm-4 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>

		<!-- Footer
		============================================-->
		<footer class="site-footer" role="contentinfo">
			{% include footer.html %}
			<script src="{{ site.baseurl }}/assets/js/update-statistics.js"></script>
		</footer>

	</body>
</html>